<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
        html, body{
            min-height: 100%;
            font-family: Roboto, Arial, sans-serif;
            font-size: 14px;
            color: rgb(0, 0, 0);
            margin: 150px;
        }
        input{
            width: 100%;
            padding: 5px;
            vertical-align: left;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        button{
            width: 100%;
            padding: 10px 0;
            margin: 10px auto;
            border-radius: 5px; 
            border: none;
            background: #ff67f2; 
            font-size: 14px;
            font-weight: 600;
            color: #fff;
        }
        h1 {
            margin: 0;
            font-weight: 400;
            text-align: center;
        }
        h3 {
            margin: 12px 0;
            color: #ff67f2;
        }
        fieldset {
            border: none;
            border-top: 1px solid #ff67f2;
        }
        label {
            padding: 0px;
            text-align: right;
            vertical-align: middle;
        }
        input {
            padding: 5px;
            vertical-align: middle;
        }
        .checkbox {
            margin-bottom: 10px;
            width: auto;
        }
        .bloco-dataNascimento selec.dia{
            width: 35px;
        }
        .bloco-dataNascimento selec.mes{
            width: 35px;
        }
        .bloco-dataNascimento input{
            width: 80px;
            vertical-align: unset;
            
        }
        .checkbox input{
            width: auto;
        }
    </style>
</head>
<body>
    <div class="bloco-principal">
        <form action="/login" method="GET" autocomplete="off">
            <h1>Cadastro</h1>
            <fieldset>
                <legend>
                  <h3>Detalhes da Conta</h3>
                </legend>
                <div  class="detalhes-conta">
                  <div><label>Nome de usuário </label><input type="text" name="usuario" required></div>
                  <div><label>Email* </label><input type="email" name="email" required></div>
                  <div><label>Senha* </label><input type="password" name="senha" required></div>
                </div>
              </fieldset>
              <fieldset>
                <legend>
                  <h3>Detalhes Pessoais</h3>
                </legend>
                <div  class="detalhes-pessoais">
                  <div>
                    <div><label>Nome* </label><input type="text" name="nome" required></div>
                    <div><label>Telefone* </label><input type="number" name="telefone" required></div>
                  </div>
                  <div>
                    <div class="dataNascimento">
                      <label>Data de Nascimento*</label>
                      <div class="bloco-dataNascimento">
                        <select class="dia" required>
                          <option value=""></option>
                          <option value="01">01</option>
                          <option value="02">02</option>
                          <option value="03">03</option>
                          <option value="04">04</option>
                          <option value="05">05</option>
                          <option value="06">06</option>
                          <option value="07">07</option>
                          <option value="08">08</option>
                          <option value="09">09</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                          <option value="13">13</option>
                          <option value="14">14</option>
                          <option value="15">15</option>
                          <option value="16">16</option>
                          <option value="17">17</option>
                          <option value="18">18</option>
                          <option value="19">19</option>
                          <option value="20">20</option>
                          <option value="21">21</option>
                          <option value="22">22</option>
                          <option value="23">23</option>
                          <option value="24">24</option>
                          <option value="25">25</option>
                          <option value="26">26</option>
                          <option value="27">27</option>
                          <option value="28">28</option>
                          <option value="29">29</option>
                          <option value="30">30</option>
                          <option value="31">31</option>
                        </select>
                        <select class="mes" required>
                          <option value=""></option>
                          <option value="January">Janeiro</option>
                          <option value="February">Fevereiro</option>
                          <option value="March">Março</option>
                          <option value="April">Abril</option>
                          <option value="May">Maio</option>
                          <option value="June">Junho</option>
                          <option value="July">Julho</option>
                          <option value="August">Agosto</option>
                          <option value="September">Setembro</option>
                          <option value="October">Outubro</option>
                          <option value="November">Novembro</option>
                          <option value="December">Dezembro</option>
                        </select>
                        <input type="number" name="ano" required>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>
                  <h3>Termos</h3>
                </legend>
                <div  class="termos">
                  <div class="checkbox">
                    <input type="checkbox" name="checkbox"><span>Eu aceito os termos de uso.</span>
                  </div>
              </fieldset>
              <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>